@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

body {
  margin: auto;
  width: 95%;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.link, .link:visited, .link:active {
  text-decoration: none;
  color: #FF6225;
  font-size: 17px;
  cursor: pointer;
}

.error {
  font-size: 14px;
}

body::-webkit-scrollbar, .user-data-tab::-webkit-scrollbar {
  width: 16px;  /* for vertical scrollbars */
  height: 0px; /* for horizontal scrollbars */
}

body::-webkit-scrollbar-track, .user-data-tab::-webkit-scrollbar-track{
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb, .user-data-tab::-webkit-scrollbar-thumb{
  background: #c4c4c4;
  border-radius: 20px;
}

body::-webkit-scrollbar-corner, .user-data-tab::-webkit-scrollbar-corner {
  background: #d7e9fc;
}

form {
  margin-bottom: 15px;
}

label {
  margin-bottom: 10px;
  margin-right: 15px;
}

em {
  font-weight: 300;
  color: #FF6225;
  font-style: normal;
}

input {
  font-family: 'Raleway', sans-serif;
  background: #f0f2f5;
  border-radius: 15px;
  padding: 7px 15px;
}

.pageTitle {
  font-size: 40px;
  display: flex;
  align-items: flex-start;
  padding: 0 320px;
  color: #FF6225;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow {
  box-shadow: 1px 1px 4px rgb(217, 217, 217);
  border: 1px solid #f0f2f5;
}

/******** NAVBAR COMPONENT ********/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FF6225;
  padding-top: 30px;
  padding-bottom: 30px;
}

.searchBar {
  width: 50%;
}

.orangeCircle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF6225;
}
.greyCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #C4C4C4;
  position: relative;
  top: 0;
  left: 0;
}
.navbarLink {
  padding: 0 20px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
}

.navbarContainer {
  width: 18%;
}
.navLinkFlex {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.newPostFixed {
  position: fixed;
  bottom: 50px;
  right: 60px;
  padding: 10px 10px 0 10px;
}

.newPostButton {
  background-color: #FF6225;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  font-size: 50px;
  position: absolute;
  top: -50%;
  left: -50%;
  margin-right: 30px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.newPostLabel {
  color: #5A5858;
}
/******** PROFILE ********/

.profile, .editProfile {
  margin-top: -300px;
}
.profileHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #C4C4C4;
  margin-right: 5px;
}

/******** NEW POST ********/
.postContainer {
  background: #f5f8fc;
  border-radius: 15px;
  margin: 20px 200px 40px 325px;
  padding: 15px 15px;
  text-align: left;
}
/*.postHeader {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: left;*/
/*  padding-bottom: 10px;*/
/*}*/
.userName, .postTime {
  color: #5A5858;
}

.userName {
  font-size: 18px;
}

.postTime {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.userInfo {
  text-align: left;
  margin-left: 20px;
}

.stars {
  height: 20px;
  margin-left: 20px;
}

.postImg {
  width: 50%;
  height: 50%;
  padding-right: 10px;
}

.postImg > img {
  width: 100%;
  border-radius: 15px;
  max-height: 300px;
}

.contentSpecs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.userIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  padding-bottom: 5px;
}

.postBody {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.rating {
  border-radius: 15px;
  background: #FF6225;
  color: white;
  height: 70px;
  width: 55px;
  padding: 7px 4px 0 4px;
}
.numericRating{
  font-size: 45px;
}
.outOf10{
  font-size: 14px;
}
.postBody > div {
  margin: 5px;
}

.poster {
  margin-left: 8px;
}

.deletePost {
  margin-right: 10px;
}
.garbage {
  height: 25px;
}
.postContent {
  width: 40%;
}
.postInfo > p {
  margin: 0;
}
.postDescContainer {
  padding: 10px 0 10px 30px;
}

.restName {
  font-size: 35px;
}
.feed {
  margin-top: -150px;
}
/******** RESTAURANT LISTING ********/
.restaurant {
  margin-top: -150px;
}
.restaurantContainer {
  display: flex;
  align-items: center;
  width: 40%;
}
.restaurantImage {
  width: 25%;
  padding-right: 40px;
}
.restaurantTitle {
  color:#FF6225;
  font-size: 30px;
}
.restaurantContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.review {
  width: 60%;
}

/******** MAKE NEW POST ********/
.makeNewPost {
  text-align: left;
  padding: 0px 300px 100px 300px;
  margin-top: -150px;
}

.newPostHeader {
  font-size: 40px;
  color: #FF6225;
}
.step {
  color: #5A5858;
  margin-bottom: 40px;
}
.formStyle {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.submitButton {
  font-size: 17px;
  padding: 7px 30px;
  margin-top: 20px;
  margin-right: 15px;
  background-color: #FF6225;
  color: white;
  border-radius: 15px;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid #f0f2f5;
}
.searchButton {
  width: 30%;
}

.newPostResult {
  color: #5A5858;
}

.graph img {
  width: 60%;
  opacity: 0.75;
}

.graph p {
  margin-top: 50px;
  color: #FF6225;
}

.login-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-top: 10%;
}

.login {
  background: #f5f8fc;
  border-radius: 15px;
  padding: 40px 60px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  width: 80%;
}

.login input,.register input {
  background: white;
  border: 1px solid #f0f2f5;
}

.login-graphics {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 400px;
}

.register {
  background: #f5f8fc;
  border-radius: 15px;
  margin: 20px 300px 40px;
  padding: 15px 50px;
  text-align: left;
}
.pinButton,.tag {
  border-radius: 5px;
  border: 2px solid #FF6225;
  color: #FF6225;
  font-size: 18px;
  padding: 5px 10px;
}
.pinButton:hover,.tag:hover {
  color: #b5b5b5;
  border-color: #b5b5b5;
}
.alreadyPinned {
  font-size: 18px;
  padding: 5px 10px;
  color: #b5b5b5;
  border-radius: 5px;
  border: 2px solid #b5b5b5;
}

.pinFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.tag {
  margin-bottom: 15px;
  margin-right: 15px;
}

.tabs {
  width: 60%;
  margin: auto;
}

.tagsGrid {
  margin: auto;
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.explorePage {
  margin-top: -300px;
  margin-left: auto;
  margin-right: auto;
}

/******** MAKE NEW POST ********/
.profPicFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newProfPic {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.profPicFileUpload, .bioFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.changeProfPicButton {
  width: 70%;
}
.changeBioButton {
  width: 15%;
}

.topNavBar {
  display: flex;
}