@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  margin: auto;
  width: 95%;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

input {
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/******** NAVBAR COMPONENT ********/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FF6225;
  padding-top: 30px;
  padding-bottom: 30px;
}

.searchBar {
  border: 1px solid #F0F2F5;
  background: #F0F2F5;
  border-radius: 15px;
  width: 50%;
  padding: 7px 15px;
  box-shadow: 0 1px 5px rgb(196,196,196);
}

.orangeCircle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF6225;
}
.greyCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #C4C4C4;
}

.navbarLink {
  padding: 0 20px;
  color: #5A5858;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
}

.navbarContainer {
  width: 18%;
}
.navLinkFlex {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.newPostFixed {
  position: fixed;
  bottom: 20px;
  right: 30px;
  padding: 10px 10px 0 10px;
}
.newPostButton {
  background-color: #FF6225;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  font-size: 50px;
  position: absolute;
  top: -25%;
  left: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.newPostLabel {
  color: #5A5858;
}
/******** PROFILE ********/
.profile {
  margin-top: -100px;
}
.profileHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profilePic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #C4C4C4;
}

/******** NEW POST ********/
.pageTitle {
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  padding: 0 320px;
  color: #FF6225;
}
.postContainer {
  /*border: 1px solid #C4C4C4;*/
  background: #F0F2F5;
  border: 1px solid #F0F2F5;
  border-radius: 15px;
  margin: 15px 300px;
  padding: 15px 30px;
  box-shadow: 0 1px 5px rgb(196,196,196);
}
.postHeader {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: 20px;
}
.userName, .postDesc {
  color: #5A5858;
}
.stars {
  height: 20px;
  margin-left: 20px;
}
.postContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postImage {
  width: 30%;
}
.postDesc {
  width: 60%;
}
.feed {
  margin-top: -100px;
}
/******** RESTAURANT LISTING ********/
.restaurant {
  margin-top: -100px;
}
.restaurantContainer {
  display: flex;
  align-items: center;
}
.restaurantImage {
  width: 25%;
  padding-right: 40px;
}
.restaurantTitle {
  color:#FF6225;
  font-size: 30px;
}
.restaurantContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.review {
  width: 60%;
}

/******** MAKE NEW POST ********/
.makeNewPost {
  text-align: left;
  padding: 0px 300px 100px 300px;
  margin-top: -100px;
}
.newPostHeader {
  font-size: 40px;
  color: #5A5858;
}
.step {
  color: #5A5858;
}
.formStyle {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.submitButton {
  font-size: 18px;
  padding: 7px 14px;
  margin-top: 20px;
  background-color: #FF6225;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}
.searchButton {
  width: 30%;
}
